%h3#acties Nieuwe tijdelijke tarieven

%dl.price-list
  %dt
    %strong Knippen, Dames, inclusief wassen & drogen
  %dd.for
    27
    %sup 50
  %dd.from
    32
    %sup 50
  %dt
    %strong Knippen, Heren, inclusief wassen & drogen
  %dd.for
    26
    %sup 00
  %dd.from
    31
    %sup 00
  %dt
    %strong Knippen, inclusief wassen & föhnen
  %dd.for
    32
    %sup 50
  %dd.from
    37
    %sup 50
  %dt
    %strong Knippen inclusief wassen & föhnen / styletang
  %dd.for
    35
    %sup 00
  %dd.from
    40
    %sup 00
  %dt
    %strong Knippen tot 4 jaar
  %dd.for
    12
    %sup 50
  %dd.from
    15
    %sup 00
  %dt
    %strong Knippen tot en met 12 jaar
  %dd.for
    17
    %sup 50
  %dd.from
    20
    %sup 00
  %dt
    %strong Verven v.a.
  %dd.for
    35
    %sup 00
