%h3#prijzen Prijzen
%dl.price-list
  %dt
    %strong Dames, knippen inclusief wassen & drogen
  %dd
    32
    %sup 50
  %dt
    %strong Heren, inclusief wassen & drogen
  %dd
    31
    %sup 00
  %dt
    %strong Knippen inclusief wassen & föhnen / styletang
  %dd
    40
    %sup 00
  %dt
    %strong Knippen tot 4 jaar
  %dd
    15
    %sup 00
  %dt
    %strong Knippen tot en met 12 jaar
  %dd
    20
    %sup 00
  %dt
    %strong Heren, tondeuse scheren
  %dd
    15
    %sup 00
  %dt
    %strong Wassen & föhnen
  %dd
    22
    %sup 50
  %dt
    %strong Wassen & föhnen / styletang
  %dd
    25
    %sup 00
  %dt
    %strong Verven v.a.
  %dd
    35
    %sup 00
  %dt
    %strong Creatieve kleur / kort haar, 2 kleuren
  %dd
    55
    %sup 00
  %dt
    %strong Creatieve kleur / kort haar, 2 kleuren
  %dd
    45
    %sup 00
  %dt
    %strong Creatieve kleur / kort haar, 2 kleuren
  %dd
    35
    %sup 00
  %dt
    %strong Spoeling lang haar
  %dd
    45
    %sup 00
  %dt
    %strong Folie plukken kort haar v.a.
  %dd
    40
    %sup 00
  %dt
    %strong Folie plukken lang haar v.a.
  %dd
    50
    %sup 00
  %dt
    %strong Blonderen v.a.
  %dd
    30
    %sup 00
  %dt
    %strong Balmain double hairverlenging v.a.
  %dd
    345
    %sup 00
  %dt
    %strong Losse extensions v.a.
  %dd
    3
    %sup 75
    \/st.

