%h3#over_roots Over Roots
%p Het Deskundig Team van topstylisten en kleurspecialisten van Roots Kappers beheerst de nieuwste technieken op het gebied van knippen en kleuren, en is altijd op de hoogte van aankomende trends. Toch geven we niet iedereen standaard een korte rechte pony omdat dat toevallig 'in' is. Bij Roots Kappers kijken we eerst welke stijl het beste bij jou en je haar past, zodat we je een persoonlijk advies kunnen geven. Met een goede coupe die bij jou past, en makkelijk in model te brengen is, zie je er elke dag goed uit, en voel je je ook goed!

= render 'prijzen'
= render 'acties'
%h4 Studenten altijd 15% korting

%h3#producten Producten
%p Nulla scelerisque neque a diam varius et dapibus sapien volutpat. Ut sollicitudin, urna in tempus viverra, tortor ante volutpat sapien, eu luctus sapien nunc nec nibh. Quisque velit risus, iaculis quis lacinia at, tincidunt vel velit. Etiam vulputate scelerisque gravida. Sed eu justo viverra mauris pulvinar ullamcorper. Sed eleifend leo ac nisi viverra non blandit nisl convallis. Mauris ac lectus tortor. Donec diam sem, accumsan sit amet ultrices non, lobortis vitae urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi sodales, mauris sit amet aliquet sagittis, ligula nulla posuere diam, in venenatis quam odio id sem. Aenean euismod pulvinar faucibus. Fusce aliquet interdum mi, at condimentum justo lacinia quis.

%h3#fotos Foto's
.flexslider.gallery
  %ul.slides
    - roots_images.each do |image|
      %li= image_tag(image)

%h3#contact Contact
%p Nulla euismod pellentesque nisi, ut aliquam lorem dapibus at. In rhoncus tortor in turpis lobortis viverra. Proin quis pharetra velit. Sed vel condimentum dui. In vitae vestibulum erat. Vivamus justo felis, ullamcorper vel fermentum et, pellentesque et ipsum. Nunc in pretium quam.
