%dl.price-list
  %dt
    %strong Lorem ipsum
    dolor sit amet
  %dd Pellentesque non
  %dd dictum sapien. Sed
  %dt Lorem ipsum dolor sit amet
  %dd Pellentesque non dictum sapien. Sed
  %dt Lorem ipsum dolor sit amet
  %dd Pellentesque non dictum sapien. Sed
