%h1 Over Roots
%p Het Deskundig Team van topstylisten en kleurspecialisten van Roots Kappers beheerst de nieuwste technieken op het gebied van knippen en kleuren, en is altijd op de hoogte van aankomende trends. Toch geven we niet iedereen standaard een korte rechte pony omdat dat toevallig 'in' is. Bij Roots Kappers kijken we eerst welke stijl het beste bij jou en je haar past, zodat we je een persoonlijk advies kunnen geven. Met een goede coupe die bij jou past, en makkelijk in model te brengen is, zie je er elke dag goed uit, en voel je je ook goed!
