// This file must be imported before loading html5-boilerplate
$design-base-font-size: 13px; // Font size for normal text as specified in PSD file
$design-line-height: 16px; // Leading (line height) for normal text as specified PSD file

// base
$base-font-size: $design-base-font-size; // Used by Compass
$base-line-height: $design-line-height;  // Used by Compass
$line-height: $design-line-height;       // Used by compass-h5bp

// Typography:
$font-family: "Century Gothic", sans-serif;

// Colors:
$background-color: #231710;
$font-color: white;

$link-color: #00e !default;
$link-hover-color: #06e !default;
$link-visited-color: #551a8b !default;

$selected-font-color: #fff !default;
$selected-background-color: #ff5e99 !default;

$invalid-background-color: #f0dddd !default;
