@mixin grid(
  $column-color   : $column-color
, $gutter-color   : $gutter-color
, $baseline-color : $baseline-color
){
  @include grid-background(
    $total-cols
  , $col-width
  , $gutter-width
  , $base-line-height
  , $side-gutter-width
  , $column-color
  , $gutter-color
  , $baseline-color
  , $grid-background-force-fluid);
}

@mixin baseline-grid {
  @include baseline-grid-background($base-line-height, #D64E4E);
}

@mixin base-font-family {
  font-family: $base-font-family;
}

@mixin alt-font-family {
  font-family: $alt-font-family;
}

@mixin serif-font-family {
  font-family: $serif-font-family;
}

// Use this mixin in combination with the jQuery lockMenu plugin.
// You apply this mixin to a container tag (e.g. 'header') which
// contains a menu which will stay visible during scrolling.
//
// $menu  - Selector which contains the menu (default: #menu)
// $full  - CSS classname applied to the container tag when the menu is fully visible
// $fixed - CSS classname applied to the container tag when all but the menu is hidden
@mixin lock-menu(
  $menu: '#menu',
  $full: 'full',
  $fixed: 'fixed'
) {
  width: 100%; //Set width explicitly because of position absolute.
  top: 0;
  z-index: 1;
  &.#{$full} {
    position: absolute;
  }
  &.#{$fixed} {
    position: fixed;
    & > *:not(#{$menu}) {
      display: none;
    }
  }
}
