@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $base-color;
  // Set your base font here, to apply evenly
  @include base-font-family;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

@include establish-baseline;

body {
  background: image-url('header-xl-diss-bg.png') no-repeat center top $complement-support-color;
  @include container;
}

#container {
  @include pad(3,3);
  // @include grid;
}

#main {
  // Fonts & Color
  // Text
  // Background
  background: #2C2C2C;
  // Dimensions
  @include margin-trailer(3);
  @include pad(1,1);
  // Positioning & Page Flows
  // Borders
  border: {
    color: $base-color;
    right: 4px $base-color;
    left: 4px $base-color;
    style: solid;
  }
  @include leading-border(4px);
  @include trailing-border(4px);
  // Bullets & Advanced

  @include border-top-left-radius(25px);
}

header {
  // Fonts & Color
  // Text
  // Background
  background: rgba(44, 44, 44, 0.85);
  // Dimensions
  @include padding-leader(.5);
  // Positioning & Page Flows
  // Borders
  border-color: $complement-accent-color;
  @include trailing-border(6px, .5);
  // Bullets & Advanced

  @include lock-menu;
  h1 {
    @include adjust-font-size-to($design-h1-font-size,3);
    @include rhythm(2,0,0,2,$design-h1-font-size);
    @include replace-text('logo.png');
  }
  nav {
    text-align: center;
    ul {
      @include inline-list;
      li {
        a {
          @include alt-font-family;
          color: $base-color;
          text-decoration: none;
          @include adjust-font-size-to(22px, 2);
          font-weight: 300;
          letter-spacing: 1px;
          padding: {
            left: .25em;
            right: .25em;
          }
          &:hover, &.active {
            color: $complement-accent-color;
          }
        }
      }
    }
  }
}

h2 {
  @include adjust-font-size-to($design-h2-font-size, 2);
  @include alt-font-family;
  font-weight: bold;
  text-align: center;
  @include rhythm(0,15,4,0, $design-h2-font-size);
  @include single-text-shadow(#000, 1px, 1px, 6px);
  a {
    color: $base-color;
    text-decoration: none;
  }
  em {
    display: block;
    font-weight: 100;
  }
}

h3 {
  @include adjust-font-size-to($design-h3-font-size, 2);
  @include serif-font-family;
  color: $complement-accent-color;
  text-align: center;
  letter-spacing: 1px;
  @include rhythm(0,3,1,0, $design-h3-font-size);
  @include single-text-shadow(lighten($complement-accent-color, 50%), 1px, 1px, 2px);
}

h4 {
  // Fonts & Color
  @include serif-font-family;
  @include adjust-font-size-to($design-h4-font-size, 2);
  letter-spacing: 1px;
  // Text
  text-align: center;
  // Background
  @include background-image(linear-gradient(lighten($complement-accent-color, 5%), darken($complement-accent-color, 5%)));
  // Dimensions
  margin-left: -9%;
  padding-left: 9%;
  @include rhythm(2,0,0,0, $design-h4-font-size);
  // Positioning & Page Flows
  position: relative;
  // Borders
  // Bullets & Advanced
  @include single-box-shadow(#000, 1px, 1px, 3px);
  @include single-text-shadow(#000, 0, 1px, 0);
  &:after {
    // Fonts & Color
    // Text
    // Background
    // Dimensions
    // width: 0;
    // height: 0;
    // Positioning & Page Flows
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    // Borders
    border-left: 60px solid transparent;
    border-top: 40px solid $complement-accent-color;
    // Bullets & Advanced
    content: '';
  }
}

dl.price-list {
  background: inherit;
  dt {
    @include padding-leader(1);
    @include trailing-border;
    border-bottom-style: dashed;
    background: inherit;
    strong {
      float: left;
      margin-top: .5em;
      background: inherit;
      padding-right: 6px;
    }
  }

  dd {
    // Fonts & Color
    @include serif-font-family;
    font-size: 1.3em;
    font-weight: bold;
    // Text
    // Background
    background: inherit;
    // Dimensions
    margin-top: -1em;
    padding-left: 6px;
    // Positioning & Page Flows
    float: right;
    // Borders
    // Bullets & Advanced
    &.from {
      text-decoration: line-through;
    }

    sup {
      font-size: .55em;
      vertical-align: super;
      color: #555;
      position: relative;
      right: 3px;
    }
  }
}

.gallery {
  max-width: 927px; // == image-width
  margin: {
    right: auto;
    left: auto;
  }
}
