@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $base-color;
  // Set your base font here, to apply evenly
  font-family: $font-family;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

@include establish-baseline;

body {
  @include rhythm(4,0,0,4);
}

h2 {
  @include adjust-font-size-to($design-h2-font-size, 3);
  color: $complement-accent-color;
}

h3 {
  @include adjust-font-size-to($design-h3-font-size, 2);
  color: $base-color;
}

#container, header, article h2 {
  @include border-top-left-radius(25px);
}

#container {
  background: $complement-support-color;
  margin: 0 auto;
  width: 700px;
}

header {
  background: image-url('header-bg.jpg') no-repeat right top $complement-support-color;
  @include padding-leader(1);
  padding: {
    right: 2em;
    left: 2em;
  }
  border-color: $complement-accent-color;
  @include trailing-border(6px, 1);
  @include clearfix;

  h1 {
    float: right;
    @include replace-text-with-dimensions('logo.gif');
  }
}

nav {
  @include margin-trailer(1);
  ul {
    li {
      a {
        @include adjust-font-size-to(23px, 2);
        text-decoration: none;
        @include link-colors($base-color, $complement-accent-color, $complement-accent-color, $base-color);
        &.active {
          color: $complement-accent-color;
        }
      }
    }
  }
}

article {
  $border-width: 3px;
  h2 {
    // Fonts & Color
    // Text
    // Background
    background: image-url('woman-bg.jpg') no-repeat black;
    // Dimensions
    // @include rhythm(0, 2.5, 0, 0.5, $design-h2-font-size);
    // Positioning & Page Flows
    // Borders
    border: {
      color: $base-color;
      right: $border-width $base-color;
      left: $border-width $base-color;
      style: solid;
    }
    @include leading-border($border-width, 2.5, $design-h2-font-size);
    @include trailing-border($border-width, 0.5, $design-h2-font-size);

    // Bullets & Advanced

  }

  .content {
    // Fonts & Color
    // Text
    text-align: right;
    // Background
    background: #2C2C2C;
    // Dimensions
    margin-left: 8em;
    padding: {
      right: 1em;
      left: 1em;
    }
    @include padding-leader(1);
    // Positioning & Page Flows
    // Borders
    border: {
      color: $base-color;
      right: $border-width $base-color;
      left: $border-width $base-color;
      style: solid;
    }
    @include trailing-border($border-width, 1);
    // Bullets & Advanced

  }
}

#main {
  @include rhythm(0, 2, 2, 0);
  padding: {
    right: 4em;
    left: 4em;
  }


}

footer {}
