@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

@include establish-baseline;

body {
  // Fonts & Color
  font-family: "Century Gothic","sans-serif";
  // Text
  // Background
  // Dimensions
  @include rhythm(4,0,0,4);
  // Positioning & Page Flows
  // Borders
  // Bullets & Advanced
}

#container {
  // Fonts & Color
  color: white;
  // Text
  // Background
  background: #231710;
  // Dimensions
  margin: 0 auto;
  width: 700px;
  // Positioning & Page Flows
  // Borders
  // Bullets & Advanced

}

header {}

#main {}

footer {}
